*{
  margin: 0px;
  padding: 0px;
}
body {
  width: 100vw;
  height: 100vh;
}
#header {
  width: 100vw;
  height: 7vh;
  background-color: #8A897A;
  border-bottom: solid black;
  border-width: thin;
}
#mainDivContainer {
  width: 100vw;
  height: 86vh;
  float: left;
  display: block;
}
#ldiv {
  width: 50%;
  height: 100%;
  float: left;
  display: inline;
}
#rdiv {
  width: 50%;
  height: 100%;
  float: left;
  display: inline;
  background-image: url("resources/track.jpg");
  background-size: cover;
  opacity: .19;
}
#footer {
  width: 100vw;
  height: 7vh;
  background-color: #8A897A;
  clear: both;
}
